<form action="" method="POST">
    <label for="user">Nickname</label>
    <input type="text" name="user" id="user">

    <label for="team">Favourite team</label>
    <input type="text" name="team" id="team">

    <button>Vote!</button>
    
</form>