@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    max-width: 70em;
    margin: 0 auto;
    background-color: rgb(166, 205, 245); 
    box-sizing: border-box;
    font: 20px/1.5 'Roboto', sans-serif;
}

li {
    list-style: none outside;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    margin: 0 right;
}

header ul {
    display: flex;
}

header li {
    margin-left: 0.7em;
}

header a {
    font-size: 1.3em;
}

header p {
    font-size: 2em;
}

ul.tournaments {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

li.card {
    flex: 0 0 47%;
    padding: 1em 0;
    margin: 1em auto;
    background-color: #0f553a;
    color: #DDD;
    border: 1px solid #000;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    text-align: center;
}

li.card h3,
li.card p {
    margin: 0;
}

li.card a {
    font-size: 2em;
    display: block;
}